USE [METEO]
GO
/****** Object:  StoredProcedure [dbo].[SP_METEO_DAILY_ALERTS]    Script Date: 9/19/2025 7:42:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_METEO_DAILY_ALERTS]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @tableHTML  NVARCHAR(MAX),
            @result NVARCHAR(MAX),
            @style NVARCHAR(MAX);

    -- Step 1: Create temp table
    CREATE TABLE #Temp_Daily_Alerts (
        PARTNER_NAME NVARCHAR(255),
        BU NVARCHAR(100),
        CASH MONEY,
        DELTA FLOAT,
        REGION NVARCHAR(100),
        [TYPE] NVARCHAR(100),
        PARTNER_ID INT,
        [PERIOD] NVARCHAR(100)
    );

    -- Step 2: Insert into temp table
    INSERT INTO #Temp_Daily_Alerts (PARTNER_NAME, BU, CASH, DELTA, REGION, TYPE, PARTNER_ID, PERIOD)
    SELECT PARTNER_NAME, BU, CASH, DELTA, REGION, [type], PARTNER_ID, [PERIOD]
    from [dbo].[tbl_METEO_Partner_Name_Historic] where [INSERT DATE] = (
		select max([INSERT DATE]) from [dbo].[tbl_METEO_Program_Name_Historic])
	and DELTA >= 0.1 
	AND CASH >= 100000  -- Only partners with $100K or more

	INSERT INTO #Temp_Daily_Alerts (PARTNER_NAME, BU, CASH, DELTA, REGION, TYPE, PARTNER_ID, PERIOD)
    SELECT PARTNER_NAME, BU, CASH, DELTA, REGION, [type], PARTNER_ID, [PERIOD]
    from [dbo].[tbl_METEO_Partner_Name_Historic] where [INSERT DATE] = (
		select max([INSERT DATE]) from [dbo].[tbl_METEO_Program_Name_Historic])
	and DELTA <= -0.1
	AND CASH >= 100000; -- Only partners with $100K or more

    -- Step 3: Build HTML and style
    SET @style = '<style type="text/css">
    table{border-style:solid;border-width:1px;border-collapse:collapse;}
    td{text-align:center; font-family:Arial; font-size:14px; padding:10px 5px;border-style:solid;border-width:2px;}
    th{text-align:center; background-color:grey; color:white;}
    </style>';

    SET @tableHTML = 
    N'<html>
    <head>' + @style + N'</head>
    <body>
    <h3>**To see more details please go to the dashboard: <b>Daily Alerts</b></h3>
    <H1><center><u><a href="https://app.powerbi.com/reportEmbed?reportId=d3599fa4-133e-42c9-a593-6b16db3c8ac3&autoAuth=true&ctid=105b2061-b669-4b31-92ac-24d304d195dc" >Daily Alert Found - METEO</a></u></center></H1>                         
    <center><table>
    <tr bgcolor="#7630EA" style="color: white; font-size:16px; font-weight: bold;">
        <td>PARTNER_NAME</td>
        <td>BU</td>
        <td>CASH</td>
        <td>DELTA</td>
        <td>REGION</td>
        <td>TYPE</td>
        <td>PARTNER_ID</td>
        <td>PERIOD</td>
    </tr>' +
    CAST(( 
        SELECT 
            td = PARTNER_NAME, '',
            td = UPPER(BU), '',
            td = FORMAT(CASH, 'C', 'en-US'), '',
            td = FORMAT(DELTA, 'P2'), '',
            td = REGION, '',
            td = TYPE, '',
            td = PARTNER_ID, '',
            td = [PERIOD], ''
        FROM #Temp_Daily_Alerts
        ORDER BY DELTA DESC
        FOR XML PATH('tr'), TYPE
    ) AS NVARCHAR(MAX)) +
    N'</table></center>
    </body>
    </html>';

    -- Combine style and HTML
    SELECT @result = @tableHTML;

    -- Step 4: Send the email
    EXEC [msdb].[dbo].[sp_send_dbmail]  
        @profile_name = 'CDM_Send_Email',		
		--@recipients='',
		@recipients='abc@xyz.com',

        @subject = 'Meteo Daily alerts',
        @body = @result,
        @body_format = 'HTML';

    -- Step 5: Clean up
    DROP TABLE #Temp_Daily_Alerts;
END