USE [METEO]
GO
/****** Object:  StoredProcedure [dbo].[SP_METEO_TEST]    Script Date: 9/17/2025 10:05:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_METEO_TEST] @INSERT_DATE DATE, @IS_GRACE_PERIOD VARCHAR(5), @FYQ_PREVIOUS VARCHAR(10), @FYQ_CURRENT VARCHAR(10)
AS
BEGIN

-- Create table for storing partner-level quarterly rebate comparison metrics if it doesn't exist
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='tbl_METEO_Quarterly_Rebate_Comparison' AND xtype='U')
BEGIN
	CREATE TABLE tbl_METEO_Quarterly_Rebate_Comparison (
		[ID] INT IDENTITY(1,1) PRIMARY KEY,
		[COMPARISON_DATE] DATE NOT NULL,
		[CURRENT_QUARTER] VARCHAR(10) NOT NULL,
		[PREVIOUS_QUARTER] VARCHAR(10) NOT NULL,
		[PARTNER_NAME] NVARCHAR(255),
		[PARTNER_ID] VARCHAR(50),
		[BU] VARCHAR(50),
		[REGION] VARCHAR(10),
		[CURRENT_QUARTER_REBATE] DECIMAL(18,2),
		[PREVIOUS_QUARTER_REBATE] DECIMAL(18,2),
		[REBATE_CHANGE_AMOUNT] DECIMAL(18,2),
		[REBATE_CHANGE_PERCENTAGE] DECIMAL(10,4),
		[VARIANCE_STATUS] VARCHAR(20) -- 'INCREASED', 'DECREASED', 'NO_CHANGE', 'NEW_PARTNER', 'LOST_PARTNER'
	)
END

-- Create separate table for previous quarter partner rebate data
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='tbl_METEO_Partner_Name_Previous_Quarter' AND xtype='U')
BEGIN
	CREATE TABLE tbl_METEO_Partner_Name_Previous_Quarter (
		[PARTNER_NAME] NVARCHAR(255),
		[PARTNER_ID] VARCHAR(50),
		[BU] VARCHAR(50),
		[PERIOD] VARCHAR(10),
		[CASH] DECIMAL(18,2),
		[DELTA] DECIMAL(10,4),
		[REGION] VARCHAR(10),
		[type] VARCHAR(50),
		[INSERT_DATE] DATE,
		[LOAD_DATE] DATETIME DEFAULT GETDATE()
	)
END

DECLARE @NUM_FILES INT;
SET @NUM_FILES = 0;

Delete from tbl_METEO_Quarterly_Rebate_Comparison;
Delete from tbl_METEO_Partner_Name_Previous_Quarter;

--DECLARE @INSERT_DATE DATETIME = CURRENT_TIMESTAMP;
--declare @INSERT_DATE DATE, @IS_GRACE_PERIOD VARCHAR(5), @FYQ_PREVIOUS VARCHAR(10), @FYQ_CURRENT VARCHAR(10)
--SET @INSERT_DATE = '2025-06-19'
--SET @IS_GRACE_PERIOD = 'Y'
--SET @FYQ_PREVIOUS = 'FY25Q2'
--SET @FYQ_CURRENT  = 'FY25Q3'
DECLARE @count_transactions INT;
SET @count_transactions = (select count(*) from METEO_REPORT_PREVIOUS) + (select count(*) from METEO_REPORT_CURRENT);
INSERT INTO tbl_METEO_transactions_per_day VALUES(@count_transactions,@INSERT_DATE)

WHILE @NUM_FILES < 2
BEGIN
	DECLARE @MSJ NVARCHAR(100);
	DECLARE @ROWS_IN_METEO_FILES INT;

	IF @NUM_FILES = 0
		BEGIN
			SET @ROWS_IN_METEO_FILES = (SELECT COUNT(*) FROM METEO_REPORT_CURRENT);
		END

	IF @NUM_FILES = 1
		BEGIN
			SET @ROWS_IN_METEO_FILES = (SELECT COUNT(*) FROM METEO_REPORT_PREVIOUS);
		END

	IF @ROWS_IN_METEO_FILES > 0
	BEGIN
		IF @NUM_FILES=0
		BEGIN
			INSERT INTO METEO_REPORT(
			[SCHEME],
			[PL],
			[PERIOD],
			[SCHEME_REGION],
			[PARTNER_ID],
			[PARTNER_type],
			[PROGRAM_NAME],
			[BU],
			[MCC_CODE],
			[PAYMENT_STATUS],
			[PARTNER_NAME],
			[Country],
			[PAYMENT_METHOD],
			[PAYMENT_SUBMITTED_DATE],
			[PAYMENT_EXECUTED_DATE],
			[PAYMENT_REFERENCE],
			[ACTUAL_CLC],
			[ACTUAL_LCY],
			[FINAL_REBATE_TO_BE_PAID_USD],
			[FINAL_REBATE_TO_BE_PAID_LCD]
			)
			SELECT [SCHEME],
			[PL],
			[PERIOD],
			[SCHEME_REGION],
			[PARTNER_ID],
			[PARTNER_type],
			[PROGRAM_NAME],
			[BU],
			[MCC_CODE],
			[PAYMENT_STATUS],
			[PARTNER_NAME],
			[Country],
			[PAYMENT_METHOD],
			[PAYMENT_SUBMITTED_DATE],
			[PAYMENT_EXECUTED_DATE],
			[PAYMENT_REFERENCE],
			[ACTUAL_CLC],
			[ACTUAL_LCY],
			[FINAL_REBATE_TO_BE_PAID_USD],
			[FINAL_REBATE_TO_BE_PAID_LCD]
			FROM METEO_REPORT_CURRENT;

			UPDATE METEO_REPORT SET [PERIOD] = @FYQ_CURRENT;			
		END

		IF @NUM_FILES=1
		BEGIN
			-- TRUNCATE TABLE tbl_METEO_Partner_Name_Previous_Quarter;
			-- Insert previous quarter data from METEO_REPORT_PREVIOUS into METEO_REPORT for processing
			INSERT INTO METEO_REPORT(
			[SCHEME],
			[PL],
			[PERIOD],
			[SCHEME_REGION],
			[PARTNER_ID],
			[PARTNER_type],
			[PROGRAM_NAME],
			[BU],
			[MCC_CODE],
			[PAYMENT_STATUS],
			[PARTNER_NAME],
			[Country],
			[PAYMENT_METHOD],
			[PAYMENT_SUBMITTED_DATE],
			[PAYMENT_EXECUTED_DATE],
			[PAYMENT_REFERENCE],
			[ACTUAL_CLC],
			[ACTUAL_LCY],
			[FINAL_REBATE_TO_BE_PAID_USD],
			[FINAL_REBATE_TO_BE_PAID_LCD]
			)
			SELECT [SCHEME],
			[PL],
			[PERIOD],
			[SCHEME_REGION],
			[PARTNER_ID],
			[PARTNER_type],
			[PROGRAM_NAME],
			[BU],
			[MCC_CODE],
			[PAYMENT_STATUS],
			[PARTNER_NAME],
			[Country],
			[PAYMENT_METHOD],
			[PAYMENT_SUBMITTED_DATE],
			[PAYMENT_EXECUTED_DATE],
			[PAYMENT_REFERENCE],
			[ACTUAL_CLC],
			[ACTUAL_LCY],
			[FINAL_REBATE_TO_BE_PAID_USD],
			[FINAL_REBATE_TO_BE_PAID_LCD]
			FROM METEO_REPORT_PREVIOUS;

			UPDATE METEO_REPORT SET [PERIOD] = @FYQ_PREVIOUS;
			
			PRINT 'Previous quarter data loaded into METEO_REPORT for processing';
		END

		UPDATE METEO_REPORT
		SET SCHEME_REGION = CASE WHEN Country = 'US' OR Country = 'Canada' THEN 'NA'
		ELSE 'LA' END
		WHERE SCHEME_REGION = 'AMS';

		DECLARE @QUARTER NVARCHAR(255)
		-- Set quarter based on which iteration we're in
		IF @NUM_FILES = 0
			SET @QUARTER = @FYQ_CURRENT
		ELSE
			SET @QUARTER = @FYQ_PREVIOUS
		
		SELECT @QUARTER

		DELETE tbl_METEO_PROGRAM_NAME;
		DELETE tbl_METEO_Partner_Name;
		
		--Validation to know if is a sequence with the current Quarter or if the Quarter changed, and must be the first to be inserted with the new quarter
		IF EXISTS (SELECT 1 FROM tbl_METEO_PROGRAM_NAME_Historic  WHERE [PERIOD] = @QUARTER)
			BEGIN
				select 'there is more than 1, should execute the comparison'
				--fit the METEO_REPORT raw data in NEW_METEO_REPORT to insert it in tbl_METEO_PROGRAM_NAME and be able to compare with the newest from 
				--the historical
			
				INSERT INTO NEW_METEO_REPORT([SCHEME],BU,CASH,REGION,[type],[PERIOD] )
				SELECT CASE WHEN MCC_CODE = '69T' THEN 'Tactical SGA' ELSE [SCHEME] END AS [SCHEME],
					   BU,SUM(rnew.ACTUAL_CLC) AS [CLC NEW],SCHEME_REGION,'CLC' AS [type],[PERIOD]
				FROM METEO_REPORT AS rnew
				GROUP BY CASE WHEN MCC_CODE = '69T' THEN 'Tactical SGA' ELSE [SCHEME] END, BU, SCHEME_REGION, [PERIOD] 

				INSERT INTO NEW_METEO_REPORT([SCHEME],BU,CASH,REGION,[type],[PERIOD] )
				SELECT CASE WHEN MCC_CODE = '69T' THEN 'Tactical SGA' ELSE [SCHEME] END AS [SCHEME],
							BU,SUM(rnew.FINAL_REBATE_TO_BE_PAID_USD) AS [FINAL REBATE TO BE PAID USD NEW],
							SCHEME_REGION,'FINAL REBATE TO BE PAID USD' AS [type],[PERIOD]
				FROM METEO_REPORT AS rnew
				GROUP BY CASE WHEN MCC_CODE = '69T' THEN 'Tactical SGA' ELSE [SCHEME] END, BU, SCHEME_REGION, [PERIOD] 

				INSERT INTO tbl_METEO_PROGRAM_NAME ([SCHEME],BU,[PERIOD],CASH,DELTA,REGION,[type] )
				SELECT CASE WHEN new.[SCHEME] IS NULL THEN old.[SCHEME] ELSE new.[SCHEME] END AS [SCHEME],
				CASE WHEN new.BU IS NULL THEN old.BU ELSE new.BU END AS [BU],
				CASE WHEN new.[PERIOD] IS NULL THEN old.[PERIOD] ELSE new.[PERIOD] END AS [PERIOD],
				CASE WHEN new.[CASH] IS NULL THEN 0 ELSE ROUND(new.[CASH],2) END AS [CASH],
				CASE WHEN new.[CASH] is null AND old.CASH = 0 THEN 0
					WHEN new.[CASH] is null AND old.CASH > 0 THEN -1
					WHEN old.[CASH] is null THEN 1
					WHEN new.[CASH] - old.[CASH] = 0 THEN 0
					WHEN new.[CASH] - old.[CASH] = new.[CASH] THEN 1
					WHEN new.[CASH] - old.[CASH] != 0 THEN ROUND(((new.[CASH] - old.[CASH])/old.[CASH]),2) END AS [DELTA CASH %],
				CASE WHEN new.REGION IS NULL THEN old.REGION ELSE new.REGION END AS REGION,
				CASE WHEN new.[type] IS NULL THEN old.[type] ELSE new.[type] END AS [type]
				FROM
				(SELECT * FROM tbl_METEO_PROGRAM_NAME_Historic 
				 WHERE [INSERT DATE] = (SELECT MAX([INSERT DATE]) 
										FROM tbl_METEO_PROGRAM_NAME_Historic 
										WHERE [PERIOD] = @QUARTER) 
				 AND [PERIOD] = @QUARTER) AS old 
				FULL OUTER JOIN
				(SELECT * FROM NEW_METEO_REPORT) AS new ON (old.[SCHEME] = new.[SCHEME]) 
														AND old.BU = new.BU AND old.REGION = new.REGION AND old.[type] = new.[type]
														
				--Validation to not have more than 90 days of records
				DELETE tbl_METEO_PROGRAM_NAME_Historic 
				WHERE [INSERT DATE] IN (SELECT t.[INSERT DATE]
				FROM tbl_METEO_PROGRAM_NAME_Historic AS t
				WHERE DATEDIFF(DAY,@INSERT_DATE,t.[INSERT DATE])*-1 >= 90)

				INSERT INTO tbl_METEO_PROGRAM_NAME_Historic ([SCHEME],BU,CASH,DELTA,REGION,[type],[INSERT DATE],[PERIOD] )
				SELECT [SCHEME],BU,CASH,DELTA,REGION,[type],@INSERT_DATE AS [INSERT DATE],[PERIOD] 
				FROM tbl_METEO_PROGRAM_NAME			
			END
		ELSE
			BEGIN			
				select 'There is not more than one, this is the first record of a new Quarter PROGRAM NAME'
				INSERT INTO tbl_METEO_PROGRAM_NAME ([SCHEME],BU,CASH,DELTA,REGION,[type],[PERIOD] )
				SELECT CASE WHEN MCC_CODE = '69T' THEN 'Tactical SGA' ELSE [SCHEME] END AS [SCHEME],BU,SUM(rnew.ACTUAL_CLC) AS [CLC NEW],
					   0 AS DELTA,SCHEME_REGION,'CLC' AS [type],[PERIOD]
				FROM METEO_REPORT AS rnew
				GROUP BY CASE WHEN MCC_CODE = '69T' THEN 'Tactical SGA' ELSE [SCHEME] END, BU, SCHEME_REGION, [PERIOD]

				INSERT INTO tbl_METEO_PROGRAM_NAME([SCHEME],BU,CASH,DELTA,[type],REGION,[PERIOD] )
				SELECT CASE WHEN MCC_CODE = '69T' THEN 'Tactical SGA' ELSE [SCHEME] END AS [SCHEME],
					   BU,SUM(rnew.FINAL_REBATE_TO_BE_PAID_USD) AS [FINAL REBATE TO BE PAID USD NEW],0 AS DELTA,'FINAL REBATE TO BE PAID USD' AS [type],
					   SCHEME_REGION,[PERIOD]  
				FROM METEO_REPORT AS rnew
				GROUP BY CASE WHEN MCC_CODE = '69T' THEN 'Tactical SGA' ELSE [SCHEME] END, BU, SCHEME_REGION, [PERIOD]

				--Validation to not have more than 90 days of records
				DELETE tbl_METEO_PROGRAM_NAME_Historic 
				WHERE [INSERT DATE] IN (SELECT t.[INSERT DATE]
				FROM tbl_METEO_PROGRAM_NAME_Historic AS t
				WHERE DATEDIFF(DAY,@INSERT_DATE,t.[INSERT DATE])*-1 >= 90)

				INSERT INTO tbl_METEO_PROGRAM_NAME_Historic ([SCHEME],BU,CASH,DELTA,REGION,[type],[INSERT DATE],[PERIOD] )
				SELECT [SCHEME],BU,CASH,DELTA,REGION,[type],@INSERT_DATE AS [INSERT DATE],[PERIOD] 
				FROM tbl_METEO_PROGRAM_NAME
			END

		IF EXISTS(SELECT 1 FROM tbl_METEO_Partner_Name_Historic WHERE [PERIOD] = @QUARTER)
		BEGIN			
			select 'There is more than one, the comparison will be executed'

			-- INSERT INTO NEW_METEO_REPORT_PARTNER_NAME (PARTNER_NAME,BU,CASH,REGION,[type],PARTNER_ID,[PERIOD] )
			-- SELECT PARTNER_NAME, BU, SUM(rnew.ACTUAL_CLC) AS [CLC],SCHEME_REGION, 'CLC' AS [type],[PARTNER_ID],[PERIOD] 
			-- FROM METEO_REPORT AS rnew
			-- GROUP BY PARTNER_NAME,BU,SCHEME_REGION,[PARTNER_ID],[PERIOD] 			

			INSERT INTO NEW_METEO_REPORT_PARTNER_NAME (PARTNER_NAME,BU,CASH,REGION,[type],PARTNER_ID,[PERIOD] )
			SELECT PARTNER_NAME, BU, SUM(rnew.FINAL_REBATE_TO_BE_PAID_USD) AS [FINAL REBATE TO BE PAID USD],SCHEME_REGION, 'FINAL REBATE TO BE PAID USD' AS [type],
			[PARTNER_ID],[PERIOD] 
			FROM METEO_REPORT AS rnew
			GROUP BY PARTNER_NAME,BU,SCHEME_REGION,[PARTNER_ID],[PERIOD] 

			INSERT INTO tbl_METEO_Partner_Name(PARTNER_NAME,PARTNER_ID,BU,[PERIOD],CASH,DELTA,REGION,[type] )
			SELECT  CASE WHEN new.PARTNER_NAME IS NULL THEN old.PARTNER_NAME ELSE new.PARTNER_NAME END AS [PARTNER_NAME],
					CASE WHEN new.PARTNER_ID IS NULL THEN old.PARTNER_ID ELSE new.PARTNER_ID END AS [PARTNER_ID],
					CASE WHEN new.BU IS NULL THEN old.BU ELSE new.BU END AS [BU],
					CASE WHEN new.[PERIOD] IS NULL THEN old.[PERIOD] ELSE new.[PERIOD] END AS [PERIOD],
					CASE WHEN new.[CASH] IS NULL THEN 0 ELSE ROUND(new.[CASH],2) END AS [CASH],
					CASE WHEN new.[CASH] is null AND old.CASH = 0 THEN 0
						 WHEN new.[CASH] is null AND old.CASH > 0 THEN -1
						 WHEN old.[CASH] is null THEN 1
						 WHEN new.[CASH] - old.[CASH] = 0 THEN 0
						 WHEN new.[CASH] - old.[CASH] = new.[CASH] THEN 1
						 WHEN new.[CASH] - old.[CASH] != 0 THEN ROUND(((new.[CASH] - old.[CASH])/old.[CASH]),2) END AS [DELTA CASH %],
					CASE WHEN new.REGION IS NULL THEN old.REGION ELSE new.REGION END AS REGION,
					CASE WHEN new.[type] IS NULL THEN old.[type] ELSE new.[type] END AS [type]
			FROM (SELECT * FROM tbl_METEO_Partner_Name_Historic 
				  WHERE [INSERT DATE] = (SELECT MAX([INSERT DATE]) --Quarter
										 FROM tbl_METEO_Partner_Name_Historic 
										 WHERE [PERIOD] = @QUARTER) 
				  AND [PERIOD] = @QUARTER) AS old 
			FULL OUTER JOIN
			(SELECT * FROM NEW_METEO_REPORT_PARTNER_NAME) AS new ON(old.PARTNER_NAME = new.PARTNER_NAME)
			AND old.PARTNER_ID = new.PARTNER_ID AND old.BU = new.BU AND old.REGION = new.REGION AND old.[type] = new.[type]

			DELETE tbl_METEO_Partner_Name_Historic
			WHERE [INSERT DATE] IN (SELECT t.[INSERT DATE]
			FROM tbl_METEO_Partner_Name_Historic AS t
			WHERE DATEDIFF(DAY,@INSERT_DATE,t.[INSERT DATE])*-1 >= 90)

			-- Insert into appropriate table based on quarter being processed
			IF @QUARTER = @FYQ_CURRENT
				BEGIN
					INSERT INTO tbl_METEO_Partner_Name_Historic(PARTNER_NAME,BU,CASH,DELTA,REGION,[type],PARTNER_ID,[INSERT DATE],[PERIOD] )
					SELECT PARTNER_NAME,BU,CASH,DELTA,REGION,[type],PARTNER_ID,@INSERT_DATE AS [INSERT DATE],[PERIOD] 
					FROM tbl_METEO_Partner_Name
				END
			ELSE
				BEGIN
					-- Previous quarter data goes to separate table
					INSERT INTO tbl_METEO_Partner_Name_Previous_Quarter(PARTNER_NAME,BU,CASH,DELTA,REGION,[type],PARTNER_ID,[INSERT_DATE],[PERIOD] )
					SELECT PARTNER_NAME,BU,CASH,DELTA,REGION,[type],PARTNER_ID,@INSERT_DATE AS [INSERT_DATE],[PERIOD] 
					FROM tbl_METEO_Partner_Name
				END
		END

		ELSE
		BEGIN
			select 'There is not more than one, Is the first record of the a new Quarter PARTNER NAME';

			-- INSERT INTO tbl_METEO_Partner_Name(PARTNER_NAME,BU,CASH,DELTA,REGION,[type],PARTNER_ID,[PERIOD] )
			-- SELECT PARTNER_NAME, BU,SUM(rnew.ACTUAL_CLC) AS [CLC], 0 AS DELTA, SCHEME_REGION, 'CLC' AS [type], [PARTNER_ID], [PERIOD] 
			-- FROM METEO_REPORT rnew
			-- GROUP BY PARTNER_NAME,BU,SCHEME_REGION,[PARTNER_ID],[PERIOD] 

			INSERT INTO tbl_METEO_Partner_Name(PARTNER_NAME,BU,CASH,DELTA,REGION,[type],PARTNER_ID,[PERIOD] )
			SELECT PARTNER_NAME, BU, SUM(rnew.FINAL_REBATE_TO_BE_PAID_USD) AS [FINAL REBATE TO BE PAID USD],0 AS DELTA, SCHEME_REGION, 'FINAL REBATE TO BE PAID USD' AS [type],
			[PARTNER_ID],[PERIOD] 
			FROM METEO_REPORT rnew
			GROUP BY PARTNER_NAME,BU,SCHEME_REGION,[PARTNER_ID],[PERIOD] 

			--Validation to not have more than 90 days of records
			DELETE tbl_METEO_Partner_Name_Historic
			WHERE [INSERT DATE] IN (SELECT t.[INSERT DATE]
			FROM tbl_METEO_Partner_Name_Historic t
			WHERE DATEDIFF(DAY,@INSERT_DATE,t.[INSERT DATE])*-1 >= 90)

			-- Insert into appropriate table based on quarter being processed
			IF @QUARTER = @FYQ_CURRENT
			BEGIN
				INSERT INTO tbl_METEO_Partner_Name_Historic(PARTNER_NAME,BU,CASH,DELTA,REGION,[type],PARTNER_ID,[INSERT DATE],[PERIOD] )
				SELECT PARTNER_NAME,BU,CASH,DELTA,REGION,[type],PARTNER_ID,@INSERT_DATE AS [INSERT DATE],[PERIOD] 
				FROM tbl_METEO_Partner_Name
			END
			ELSE
			BEGIN
				-- Previous quarter data goes to separate table
				INSERT INTO tbl_METEO_Partner_Name_Previous_Quarter(PARTNER_NAME,BU,CASH,DELTA,REGION,[type],PARTNER_ID,[INSERT_DATE],[PERIOD] )
				SELECT PARTNER_NAME,BU,CASH,DELTA,REGION,[type],PARTNER_ID,@INSERT_DATE AS [INSERT_DATE],[PERIOD] 
				FROM tbl_METEO_Partner_Name
			END
		END
		
		-- PARTNER-LEVEL INCREMENTAL REBATE COMPARISON LOGIC
		-- Execute comparison during grace period after each file upload (if previous quarter data exists)
		IF @IS_GRACE_PERIOD = 'Y' AND @NUM_FILES =1 --AND EXISTS(SELECT 1 FROM tbl_METEO_Partner_Name_Previous_Quarter WHERE [type] = 'FINAL REBATE TO BE PAID USD')
			BEGIN
				PRINT 'Starting comparison for date: ' + CAST(@INSERT_DATE AS VARCHAR(20));

				-- Insert partner-level rebate comparisons
				INSERT INTO tbl_METEO_Quarterly_Rebate_Comparison (
					[COMPARISON_DATE], [CURRENT_QUARTER], [PREVIOUS_QUARTER],
					[PARTNER_NAME], [PARTNER_ID], [BU], [REGION],
					[CURRENT_QUARTER_REBATE], [PREVIOUS_QUARTER_REBATE],
					[REBATE_CHANGE_AMOUNT], [REBATE_CHANGE_PERCENTAGE], [VARIANCE_STATUS]
				)
				SELECT 
					@INSERT_DATE,
					@FYQ_CURRENT,
					@FYQ_PREVIOUS,
					COALESCE(curr.PARTNER_NAME, prev.PARTNER_NAME) AS PARTNER_NAME,
					COALESCE(curr.PARTNER_ID, prev.PARTNER_ID) AS PARTNER_ID,
					COALESCE(curr.BU, prev.BU) AS BU,
					COALESCE(curr.REGION, prev.REGION) AS REGION,
					ISNULL(curr.CASH, 0) AS CURRENT_QUARTER_REBATE,
					ISNULL(prev.CASH, 0) AS PREVIOUS_QUARTER_REBATE,
					ISNULL(curr.CASH, 0) - ISNULL(prev.CASH, 0) AS REBATE_CHANGE_AMOUNT,
					--CASE 
					--	WHEN ISNULL(prev.CASH, 0) = 0 AND ISNULL(curr.CASH, 0) = 0 THEN 0
					--	WHEN ISNULL(prev.CASH, 0) = 0 AND ISNULL(curr.CASH, 0) > 0 THEN 100
					--	WHEN ISNULL(prev.CASH, 0) > 0 AND ISNULL(curr.CASH, 0) = 0 THEN -100
					--	ELSE ((ISNULL(curr.CASH, 0) - ISNULL(prev.CASH, 0)) / prev.CASH) * 100 
					--END AS REBATE_CHANGE_PERCENTAGE,
					
					CASE 
						WHEN ISNULL(prev.CASH, 0) = 0 AND ISNULL(curr.CASH, 0) = 0 THEN 0
						WHEN ISNULL(prev.CASH, 0) = 0 AND ISNULL(curr.CASH, 0) > 0 THEN 100
						WHEN ISNULL(prev.CASH, 0) > 0 AND ISNULL(curr.CASH, 0) = 0 THEN -100
						WHEN ISNULL(prev.CASH, 0) > 0 THEN ((ISNULL(curr.CASH, 0) - ISNULL(prev.CASH, 0)) / ISNULL(NULLIF(prev.CASH, 0), 1)) * 100
						ELSE 0
					END AS REBATE_CHANGE_PERCENTAGE,

					CASE 
						WHEN prev.PARTNER_ID IS NULL THEN N'NEW_PARTNER'
						WHEN curr.PARTNER_ID IS NULL THEN N'LOST_PARTNER'
						WHEN ISNULL(curr.CASH, 0) > ISNULL(prev.CASH, 0) THEN N'INCREASED'
						WHEN ISNULL(curr.CASH, 0) < ISNULL(prev.CASH, 0) THEN N'DECREASED'
						ELSE N'NO_CHANGE'
					END AS VARIANCE_STATUS
				FROM (
					-- Get average rebate per partner for current quarter (across all upload dates)
					SELECT PARTNER_NAME, PARTNER_ID, BU, REGION, AVG(CASH) AS CASH
					FROM tbl_METEO_Partner_Name_Historic 
					WHERE [type] = 'FINAL REBATE TO BE PAID USD'
					  AND [PERIOD] = @FYQ_CURRENT
					  --AND [INSERT DATE] = (SELECT MAX([INSERT DATE]) FROM tbl_METEO_Partner_Name_Historic WHERE [type] = 'FINAL REBATE TO BE PAID USD' AND [PERIOD] = @FYQ_CURRENT)
					GROUP BY PARTNER_NAME, PARTNER_ID, BU, REGION
				) curr
				LEFT JOIN (
					-- Get average rebate per partner for previous quarter (across all upload dates)
					SELECT PARTNER_NAME, PARTNER_ID, BU, REGION, AVG(CASH) as CASH
					FROM tbl_METEO_Partner_Name_Previous_Quarter 
					WHERE [type] = 'FINAL REBATE TO BE PAID USD'
					  --AND [INSERT_DATE] = (SELECT MAX([INSERT_DATE]) FROM tbl_METEO_Partner_Name_Previous_Quarter WHERE [type] = 'FINAL REBATE TO BE PAID USD')
					GROUP BY PARTNER_NAME, PARTNER_ID, BU, REGION
				) prev ON curr.PARTNER_ID = prev.PARTNER_ID;
				
				PRINT 'Partner-level rebate comparison completed for incremental data';
		END
		
		PRINT 'Quarterly rebate comparison completed successfully';
		
		IF @NUM_FILES = 0
		BEGIN
			SET @MSJ = 'METEO - ' +@FYQ_CURRENT+ ' HAS BEEN UPDATED';			
			DELETE METEO_REPORT_CURRENT;
			DELETE tbl_METEO_PROGRAM_NAME_Historic WHERE [SCHEME] IS NULL;
			DELETE tbl_METEO_Partner_Name_Historic WHERE PARTNER_ID IS NULL AND PARTNER_NAME IS NULL;
			DELETE tbl_METEO_PROGRAM_NAME WHERE [SCHEME] IS NULL;
			DELETE tbl_METEO_Partner_Name WHERE PARTNER_ID IS NULL AND PARTNER_NAME IS NULL;			
		END
		IF @NUM_FILES = 1
		BEGIN
			SET @MSJ = 'METEO - THE QUARTERS: '+ @FYQ_PREVIOUS + ', '+@FYQ_CURRENT+' HAVE BEEN UPDATED';
			DELETE METEO_REPORT_PREVIOUS;
			DELETE tbl_METEO_PROGRAM_NAME_Historic WHERE [SCHEME] IS NULL;
			DELETE tbl_METEO_Partner_Name_Historic WHERE PARTNER_ID IS NULL AND PARTNER_NAME IS NULL;
			DELETE tbl_METEO_PROGRAM_NAME WHERE [SCHEME] IS NULL;
			DELETE tbl_METEO_Partner_Name WHERE PARTNER_ID IS NULL AND PARTNER_NAME IS NULL;			
		END

		--Cleaning the tables for the next execution of METEO (METEO's file)
		DELETE NEW_METEO_REPORT;
		DELETE NEW_METEO_REPORT_PARTNER_NAME;
		DELETE METEO_REPORT;		

		IF @IS_GRACE_PERIOD = 'Y'
			BEGIN
				SET @NUM_FILES = @NUM_FILES + 1;
				print @NUM_FILES
				CONTINUE;
			END
		ELSE
			BEGIN
				EXEC [msdb].[dbo].[sp_send_dbmail]  @profile_name= 'CDM_Send_Email',
				@recipients='abc@xyz.com;',

				@subject='METEO information has been updated',
				@body = @MSJ
				BREAK;
			END;
		EXEC [msdb].[dbo].[sp_send_dbmail]  @profile_name= 'CDM_Send_Email',
		@recipients='abc@xyz.com;',

		@subject='METEO grace period has been updated',
		@body = @MSJ
	END

	ELSE
		BEGIN
			SET @MSJ = 'The raw data of METEO was not loaded, please enter the data';			
		
			EXEC [msdb].[dbo].[sp_send_dbmail]  @profile_name= 'CDM_Send_Email',
			@recipients='abc@xyz.com;',

			@subject='METEO report has not been sent',
			@body= @MSJ;

			SET @NUM_FILES = @NUM_FILES + 1;
			BREAK;
		END
END


END

-- -->IN CASE WE NEED APPLY A HARD RESET, ALL TABLES THAT WE NEED TO CLEAN
--TRUNCATE TABLE METEO_REPORT_PREVIOUS;
--TRUNCATE TABLE METEO_REPORT_CURRENT;
--TRUNCATE TABLE tbl_METEO_PROGRAM_NAME_Historic;
--TRUNCATE TABLE tbl_METEO_Partner_Name_Historic;
--TRUNCATE TABLE tbl_METEO_PROGRAM_NAME;
--TRUNCATE TABLE tbl_METEO_Partner_Name;
--TRUNCATE TABLE NEW_METEO_REPORT;
--TRUNCATE TABLE NEW_METEO_REPORT_PARTNER_NAME;
--TRUNCATE TABLE METEO_REPORT;
--TRUNCATE TABLE tbl_METEO_transactions_per_day;
--TRUNCATE TABLE tbl_METEO_Quarterly_Rebate_Comparison;